<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="
             http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
             ">
    <bean id="entityServiceImpl" class="com.bpedman.osgisample.entity.impl.EntityServiceImpl"/>

    <service id="entityService" interface="com.bpedman.osgisample.entity.EntityService" ref="entityServiceImpl">
        <service-properties>
            <!-- DOSGi FTW! -->
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>

    <bean id="nodeServiceImpl" class="com.bpedman.osgisample.entity.impl.NodeServiceImpl"/>
    <service id="nodeService" interface="com.bpedman.osgisample.entity.NodeService" ref="nodeServiceImpl">
        <service-properties>
            <!-- DOSGi FTW! -->
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>
</blueprint>
